@import "fonts";
@import "base";

.header {
  position: relative;
  background-color: #EB3E2E;
  background-size: contain;
  background-position: center;
  .background-first {
    width: 100%;
    height: 1536px;
    position: absolute;
    top: 0;
    background-image: url("images/background-first.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    .background-first__shadow {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 428px;
      background: linear-gradient(180deg, #0F0F0F 0%, rgba(15, 15, 15, 0) 100%);
      transform: matrix(1, 0, 0, -1, 0, 0);
    }
  }
  .header-glow {
    width: 100%;
    height: 200%;
    position: absolute;
    top: -100%;
    background: radial-gradient(50% 50% at 50% 50%, #FFB547 0%, rgba(242, 201, 76, 0) 100%);
  }
  .header-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .header-content__head {
      position: absolute;
      top: 72px;
      display: flex;
      align-items: flex-end;
      width: 290px;
      .header-content__head-logo {
        width: 134px;
      }
      .header-content__head-caption {
        margin-left: 22px;
        font-weight: 300;
      }
    }
    .header-content__titles {
      margin: 164px 0 121px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      height: 100%;
      text-align: center;
      .header-content__titles-maintitle {
        position: relative;
        top: 30px;
        font-family: "Rozovii Chulok", sans-serif;
        font-size: 84px;
      }
      .header-content__titles-subtitle {
        position: relative;
        text-transform: uppercase;
      }
    }
    .header-content__car {
      position: absolute;
      bottom: -48px;
      @include transition(all 0.3s ease);
      &:hover {
        @include transform(scale(1.1));
      }
    }
    .header-content__slider {
      position: absolute;
      bottom: 50px;
      right: 0;
      .header-content__slider-item {
        margin-top: 16px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: white;
        opacity: 0.5;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
.description {
  position: relative;
  margin-bottom: 50px;
  .description-overlay {
    position: absolute;
    top: -20px;
    width: 100%;
    height: 500px;
    background-image: url("images/description-overlay.png");
    background-repeat: no-repeat;
    background-position: top center;
  }
  .description-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
    .description-content__title {
      margin-top: 52px;
      width: 50%;
      font-weight: 300;
      font-size: 32px;
      line-height: 45px;
    }
    .description-content__desc {
      margin-top: 24px;
      width: 50%;
      font-weight: 300;
      font-size: 16px;
      line-height: 29px;
      opacity: 0.8;
    }
    .description-content__caption {
      margin-top: 24px;
      width: 30%;
      font-weight: 300;
      font-size: 16px;
      line-height: 29px;
      opacity: 0.8;
    }
  }
}

.history {
  position: relative;
  .history-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 500px;
    background-image: url("images/history-overlay.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
  }
  .history-content {
    .history-content__post {
      position: relative;
      padding-bottom: 50px;
      z-index: 2;
      .history-content__post-timeline {
        position: absolute;
        top: 20px;
        left: -30px;
        height: 100%;
        border-left: 2px dashed rgba(242, 242, 242, 0.2);
      }
      .history-content__post-title {
        position: relative;
        margin-bottom: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .history-content__post-timepoint {
          position: absolute;
          top: 4px;
          left: -43px;
          width: 28px;
          height: 28px;
          background-image: url("images/icons/time-point.svg");
          background-repeat: no-repeat;
          background-size: 100%;
        }
        .history-content__post-year{
          margin-right: 48px;
          font-weight: 900;
          font-size: 32px;
          span {
            font-weight: 900;
            font-size: 32px;
            color: #EB3E2E;
          }
        }
      }
      .history-content__post-description, .history-content__post-caption{
        margin-top: 24px;
        width: 60%;
        font-weight: 800;
        font-size: 24px;
        line-height: 34px;
      }
      .history-content__post-caption {
        margin-bottom: 16px;
        opacity: 0.4
      }
      .history-content__post-subdescription {
        margin-top: 24px;
        width: 50%;
        font-size: 18px;
        line-height: 25px;
        opacity: 0.6;
      }
      .history-content__post-desc {
        margin-top: 34px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .history-content__post-desc-caption {
          width: 35%;
          font-weight: 800;
          font-size: 32px;
          line-height: 45px;
        }
        .history-content__post-desc-material {
          position: relative;
          cursor: pointer;
          overflow: hidden;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          height: 384px;
          width: 55%;
          border-radius: 6px;
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-image: url("images/material-4.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @include transition(all 0.3s ease);
          }
          &:hover::after {
            @include transform(scale(1.1));
          }
          &:active {
            position: relative;
            top: 1px;
          }
          .history-content__post-desc-material-imposition {
            position: relative;
            cursor: pointer;
            width: 48px;
            height: 48px;
            border: none;
            border-radius: 50%;
            background-image: url("images/icons/icon-play.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-color: #EB3E2E;
            @include transition(all 0.3s ease);
            z-index: 2;
            &:hover {
              background-color: #ED5143;
            }
            &:active {
              position: relative;
              top: 1px;
            }
          }
        }
      }
      .history-content__post-media {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 216px);
        grid-gap: 16px;
        .history-content__post-media-material {
          border-radius: 6px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
      }
    }
    .post-1, .post-2 {
      .material-1 {
        grid-row: span 2;
        background-image: url("images/material-1.png");
      }
      .material-2 {
        background-image: url("images/material-2.png");
      }
      .material-3 {
        grid-row: span 2;
        background-image: url("images/material-4.png");
      }
      .material-4 {
        background-image: url("images/material-3.png");
      }
    }
    .post-3 {
      img {
        position: absolute;
        top: 0;
        right: 30px;
        z-index: 2;
        @include transition(all 0.3s ease);
        &:hover {
          @include transform(scale(1.1));
        }
      }
      .history-content__post-media {
        margin-top: 26px;
        grid-template-rows: 216px;
        .material-1 {
          background-image: url("images/material-1.png");
        }
        .material-2 {
          background-image: url("images/material-2.png");
        }
        .material-3 {
          background-image: url("images/material-4.png");
        }
      }
    }
    .post-5 {
      .history-content__post-desc {
        flex-direction: row-reverse;
      }
    }
  }
}

.awards {
  position: relative;
  z-index: 1;
  .background-second {
    width: 100%;
    height: 1814px;
    position: absolute;
    bottom: -10px;
    background-image: url("images/background-second.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    backdrop-filter: blur(24px);
    .background-second__shadow {
      position: absolute;
      top: 0;
      width: 100%;
      height: 428px;
      background: linear-gradient(180deg, #0F0F0F 0%, rgba(15, 15, 15, 0) 100%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
      @include transition(all 0.3s ease);
    }
    &:hover .background-second__shadow {
      background-size: 120%;
    }
  }
  .awards-title {
    position: relative;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
  }
  .awards-content {
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 224px);
    grid-gap: 16px;
    .awards-content__post {
      padding-left: 40px;
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rgba(51, 51, 51, 0.4);
      background-blend-mode: color;
      border-radius: 6px;
      .awards-content__post-title {
        position: relative;
        width: 40%;
        margin-top: 40px;
        font-weight: bold;
        font-size: 24px;
        z-index: 1;
      }
      .awards-content__post-caption {
        position: relative;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        z-index: 1;
        .awards-content__post-caption-icon {
          margin-right: 8px;
          width: 32px;
          height: 32px;
          background-repeat: no-repeat;
        }
        .awards-content__post-caption-version {
          display: flex;
          flex-direction: column;
          font-size: 18px;
          font-weight: 300;
          line-height: 27px;
          color: rgba(242, 242, 242, 0.4);
          span {
            font-size: 18px;
            font-weight: 300;
            text-transform: uppercase;
            color: #F2C94C;
          }
        }
      }
      img {
        position: absolute;
        bottom: 0;
        right: 0;
      }
      .awards-content__post-gradient {
        position: absolute;
        width: 360px;
        height: 360px;
        bottom: 0;
        left: 0;
        background: radial-gradient(50% 50% at 0% 100%, #F2C94C 0%, rgba(242, 201, 76, 0) 100%);
        border-radius: 0 0 0 6px;
        opacity: 0.4;
      }
    }
    .post-1 {
      background-image: url("images/award-back-1.png");
      background-position: right;
      background-repeat: no-repeat;
      img {
        width: 55%;
      }
      .awards-content__post-caption-icon {
        background-image: url("images/icons/icon-award.svg");
        }
    }
    .post-2 {
      background-image: url("images/award-back-2.png");
      background-position: right;
      background-repeat: no-repeat;
      img {
        width: 55%;
      }
      .awards-content__post-caption-icon {
        background-image: url("images/icons/icon-chart.svg");
        }
    }
    .post-3 {
      background-image: url("images/award-back-3.png");
      background-position: right;
      background-repeat: no-repeat;
      .awards-content__post-caption-icon {
        background-image: url("images/icons/icon-zap.svg");
        }
    }
    .post-4 {
      background-image: url("images/award-back-4.png");
      background-position: right;
      background-repeat: no-repeat;
      .awards-content__post-caption-icon {
        background-image: url("images/icons/icon-star.svg");
        }
    }
  }
}

.principles {
  position: relative;
  top: -20px;
  background: radial-gradient(50% 101.23% at 50% 86.35%, #F2C94C 0%, #EB3E2E 100%);
  z-index: 2;
  .principles-content {
    position: relative;
    top: -30px;
    display: flex;
    justify-content: space-between;
    .principles-content__desc {
      .principles-content__desc-title {
        position: relative;
        width: 40%;
        line-height: 60px;
      }
      .principles-content__desc-description {
        margin: 74px 96px 84px 0;
        .principles-content__desc-description-item {
          font-size: 18px;
          line-height: 31px;
          &:first-child {
            margin-bottom: 24px;
          }
        }
      }
    }
    .principles-content__list {
      display: grid;
      grid-template-rows: repeat(3, 184px);
      grid-template-columns: repeat(2, 256px);
      grid-gap: 16px;
      .principles-content__list-item {
        padding: 32px 32px 0 32px;
        background: white;
        box-shadow: 0 14px 44px rgba(0, 0, 0, 0.14);
        border-radius: 6px;
        cursor: pointer;
        @include transition(all 0.3s ease);
        &:hover {
          @include transform(scale(1.08));
        }
        .principles-content__list-item-title {
          margin-bottom: 16px;
          font-weight: 900;
          font-size: 18px;
          color: #333333;
        }
        .principles-content__list-item-description {
          line-height: 18px;
          color: #333333;
        }
      }
    }
  }
}

.goals {
  position: relative;
  .background-third {
    width: 100%;
    height: 2284px;
    position: absolute;
    top: -50px;
    background-image: url("images/background-second.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    backdrop-filter: blur(24px);
    z-index: -3;
  }
  .goals-content {
    position: relative;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    .goals-content__imposition {
      position: absolute;
      top: 32px;
      right: -66px;
      z-index: 3;
      width: 40%;
      @include transition(all 0.3s ease);
      &:hover {
        @include transform(scale(1.1));
      }
    }
    .goals-content__title {
      position: relative;
      text-transform: uppercase;
      .title-shadow {
        bottom: 40px;
      }
    }
    .goals-content__list {
      margin-top: 25px;
      width: 70%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, minmax(202px, 1fr));
      grid-gap: 16px;
      .goals-content__list-item {
        position: relative;
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-sizing: border-box;
        border-radius: 6px;
        padding-left: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 3;
        img {
          position: absolute;
        }
        .goals-content__list-item-title {
          width: 65%;
          margin-top: 32px;
          font-weight: 900;
          font-size: 18px;
          line-height: 22px;
          span {
            font-size: 18px;
          }
        }
        .goals-content__list-item-progress {
          margin-top: 8px;
          margin-bottom: 32px;
          display: flex;
          align-items: center;
          .goals-content__list-item-progress-bar {
            margin-right: 8px;
            width: 100px;
            height: 2px;
            border-radius: 24px;
            background-color: rgba(255, 255, 255, 0.2);
            .goals-content__list-item-progress-bar-done {
              height: 100%;
              border-radius: inherit;
              background-color: white;
              box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
            }
          }
          .goals-content__list-item-progress-result {
            font-size: 12px;
            opacity: 0.4;
          }
          .goals-content__list-item-progress-icon {
            margin-right: 8px;
            width: 16px;
            height: 10px;
            background-image: url("images/icons/icon-done.svg");
            background-position: bottom;
            background-repeat: no-repeat;
          }
          .goals-content__list-item-progress-caption {
            font-size: 12px;
            color: #6FCF97;
          }
        }
      }
      .goal-1 {
        img {
          bottom: 32px;
          right: 24px;
        }
        .goals-content__list-item-progress-bar-done {
          width: 50%;
        }
      }
      .goal-2 {
        img {
          bottom: -64px;
          right: -68px;
        }
      }
      .goal-3 {
        img {
          height: 228px;
          bottom: 0;
          right: -8px;
        }
        .goals-content__list-item-progress-bar-done {
          width: 75%;
        }
      }
      .goal-4 {
        img {
          bottom: -16px;
          right: -60px;
        }
        .goals-content__list-item-title {
          width: 60%;
        }
        .goals-content__list-item-progress-bar-done {
          width: 40%;
        }
      }
      .goal-5 {
        grid-column: span 2;
        img {
          top: -10px;
          right: 36px;
        }
        .goals-content__list-item-title {
          width: 55%;
        }
        .goals-content__list-item-progress-bar-done {
          width: 60%;
        }
      }
    }
  }
}

.brand {
  margin-top: 64px;
  .brand-content {
    display: flex;
    justify-content: space-between;
    .brand-content__info {
      position: relative;
      display: flex;
      flex-direction: column;
      .brand-content__info-title {
        margin-bottom: 96px;
        position: relative;
        text-transform: uppercase;
        .title-shadow {
          bottom: 0;
          top: 40px;
        }
      }
      .brand-content__info-description {
        width: 60%;
        line-height: 25px;
        opacity: 0.4;
      }
    }
    .brand-content__logos {
      margin-right: 84px;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 238px);
      column-gap: 150px;
      row-gap: 64px;
      .brand-content__logos-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        img {
          margin-bottom: 26px;
        }
        .brand-content__logos-item-btn {
          width: 213px;
          margin-top: 8px;
          border: 1.5px solid rgba(242, 242, 242, 0.2);
          box-sizing: border-box;
          border-radius: 214px;
          padding: 10px 22px;
          cursor: pointer;
          @include transition(all 0.3s ease);
          &:hover {
            background-color: rgba(242, 242, 242, 0.2);
          }
          &:active {
            position: relative;
            top: 1px;
          }
          .brand-content__logos-item-btn-caption {
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: 0.1em;
            .svg {
              color: #EB3E2E;
              font-weight: 800;
            }
            .png {
              color: #4B74B9;
              font-weight: 800;
            }
            .weight {
              margin-left: 10px;
              letter-spacing: 0;
              opacity: 0.4;
            }
          }
        }
      }
      .logo-3 {
        img {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.other-products {
  position: relative;
  margin-top: 86px;
  .other-products-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .other-products-content__title {
      width: 30%;
      font-weight: 800;
      font-size: 36px;
      line-height: 29px;
    }
    .other-products-content__list {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, 194px);
      grid-gap: 70px;
      .other-products-content__list-item {
        display: flex;
        align-items: center;
        img {
          cursor: pointer;
          @include transition(all 0.3s ease);
          &:hover {
            @include transform(scale(1.2));
          }
          &:active {
            position: relative;
            top: 1px;
          }
        }
        .other-products-content__list-item-caption {
          margin-left: 16px;
          display: flex;
          flex-direction: column;
          font-weight: 800;
          font-size: 18px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
      }
      .product-1 {
        span {
          color: #4B74B9;
        }
      }
      .product-2 {
        span {
          color: #EB3E2E;
        }
      }
      .product-3 {
        span {
          color: #588721;
        }
      }
    }
  }
}

.community {
  .community-content {
    position: relative;
    margin-bottom: 104px;
    padding-top: 91px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .community-content__img {
      position: absolute;
      bottom: -104px;
      left: -180px;
      @include transition(all 0.3s ease);
      &:hover {
        @include transform(scale(1.1));
      }
    }
    .community-content__title {
      width: 35%;
      position: relative;
      top: 0;
      left: -180px;
      font-weight: 900;
      font-size: 64px;
      text-transform: uppercase;
      transform: rotate(-90deg);
      transform-origin: right top 0;
      padding-right: 40px;
      z-index: -1;
    }
    .community-content__networks {
      float: right;
      width: 692px;
      display: flex;
      flex-direction: column;
      .official-group {
        background-color: #EB3E2E;
      }
      .free-group {
        background-color: #4B74B9;
      }
      .community-content__networks-group {
        margin-bottom: 16px;
        padding: 50px;
        height: 112px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 6px;
        cursor: pointer;
        @include transition(all 0.3s ease);
        &:hover {
          @include transform(scale(0.95));
        }
        &:active {
          position: relative;
          top: 1px;
        }
        .community-content__networks-group-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;
          color: white;
          &:first-child {
            align-items: flex-start;
          }
          img {
            width: 109px;
          }
          .community-content__networks-group-row-annotation {
            line-height: 21px;
          }
          .community-content__networks-group-row-members {
            font-size: 24px;
            span {
              font-size: 24px;
              font-weight: bold;
            }
          }
          .community-content__networks-group-row-btn {
            width: 24px;
            height: 24px;
            background-image: url("images/icons/arrow-right.svg");
          }
        }
      }
    }
  }
}

.footer {
  position: relative;
  padding-bottom: 30px;
  height: 467px;
  background-color: #000000;
  background-image: url("images/footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  .footer-glow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -50%;
    background: radial-gradient(50% 50% at 50% 50%, #282828 0%, rgba(97, 97, 97, 0) 100%) center;
    z-index: -2;
  }
  .footer-navigation {
    margin-top: 60px;
    margin-bottom: 67px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    .footer-navigation__logo {
      width: 109px;
      margin-right: 150px;
    }
    .footer-navigation__navbar {
      position: relative;
      top: -6px;
      font-size: 16px;
      color: #E0E0E0;
      div:not(:first-child) {
        margin-bottom: 14px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
        &:active {
          position: relative;
          top: 1px;
        }
      }
      .footer-navigation__navbar-title {
        margin-bottom: 24px;
        font-weight: bold;
        font-size: 24px;
      }
    }
    .footer-navigation__networks {
      display: grid;
      grid-template-rows: repeat(2, 84px);
      grid-template-columns: repeat(3, 84px);
      grid-gap: 16px;
      .footer-navigation__networks-item {
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        @include transition(all 0.3s ease);
        &:hover {
          @include transform(scale(1.05))
        }
        &:active {
          position: relative;
          top: 1px;
        }
      }
      .discord {
        grid-column: span 1;
        grid-row: span 2;
        background-image: url("images/icons/discord.svg"), linear-gradient(0deg, #7289DA 0%, #B9C8FF 100%);
      }
      .insta {
        background-image: url("images/icons/insta.svg"), linear-gradient(135deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%);
      }
      .tiktok {
        background-image: url("images/icons/tiktok.svg"), linear-gradient(135deg, #25F4EE 0%, #FE2C55 100%);
      }
      .youtube {
        background-image: url("images/icons/youtube.svg"), linear-gradient(-45deg, #E53935 0%, #E5356A 100%);
      }
      .telegram {
        background-image: url("images/icons/telegram.svg"), linear-gradient(-45deg, #03A9F4 0%, #42C4FF 100%);
      }
    }
  }
  .footer-description {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    line-height: 22px;
    color: #E0E0E0;
    div {
      font-weight: 300;
    }
    .footer-description__caption {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

@media (max-width: 1440px) {
  .description .description-overlay, .history .history-overlay {
    background-size: contain;
  }
}

@media (max-width: 1230px) {
  .history-content__post-separator {
    width: 800px;
  }
  .goals-content__imposition {
    top: 48px !important;
    right: -30px !important;
  }
}

@media (max-width: 1200px) {
  .history-content__post-timeline {
    top: 20px;
    left: -18px !important;
    border-left: 2px dashed rgba(242, 242, 242, 0.2);
  }
  .history-content__post-timepoint {
    position: absolute;
    top: 8px !important;
    left: -27px !important;
    width: 20px !important;
    height: 20px !important;
  }
}

@media (max-width: 1100px) {
  .history-content__post-separator {
    width: 750px;
  }
  .awards-content {
    .awards-content__post-caption {
      margin-bottom: 20px !important;
    }
    .post-1 {
      img {
        width: 45% !important;
      }
    }
    .post-2 {
      img {
        width: 45% !important;
      }
    }
    .post-3 {
      img {
        width: 70% !important;
      }
    }
    .post-4 {
      img {
        width: 50% !important;
      }
    }
  }
  .goals-content__imposition {
    width: 35% !important;
  }
  .goals-content__list {
    width: 80% !important;
  }
  .community {
    .community-content {
      align-items: center;
      .community-content__img {
        display: none !important;
      }
      .community-content__title {
        width: 25% !important;
      }
      .community-content__networks {
        width: 70%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .history-content__post-separator {
    width: 700px;
  }
  .principles-content__list {
    position: relative;
    top: 200px;
  }
  .goals-content__imposition {
    display: none;
  }
  .brand-content {
    .brand-content__logos {
      margin-right: 0 !important;
    }
  }
  .goals-content__list {
    width: 100% !important;
    .goal-2 {
      img {
        width: 300px;
        bottom: -30px !important;
        right: -30px !important;
      }
    }
    .goal-4 {
      img {
        right: -30px !important;
      }
    }
  }
}

@media (max-width: 1000px) {
  .history-content__post-year {
    margin-right: 0 !important;
    font-size: 24px !important;
    span {
      font-size: 24px !important;
    }
  }
  .footer-navigation__logo {
    margin-right: 50px !important;
  }
}

@media (max-width: 936px) {
  .background-third {
    height: 3800px !important;
  }
  .description-content__title, .description-content__desc {
    width: 70% !important;
  }
  .description-content__caption {
    width: 50% !important;
  }
  .history-content {
    .post-3 {
      img {
        width: 250px;
      }
    }
  }
  .history-content__post-separator {
    width: 600px;
  }
  .history-content__post-desc-caption {
    font-size: 24px !important;
  }
  .awards-content__post {
    .awards-content__post-title {
      width: 80% !important;
    }
    img {
      display: none;
    }
  }
  .principles-content {
    flex-direction: column;
    .principles-content__list {
      margin-bottom: 24px;
      top: 0 !important;
    }
  }
  .goals-content {
    align-items: center;
  }
  .brand-content {
    flex-direction: column;
    align-items: center;
    .brand-content__info {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 36px;
      .brand-content__info-title {
        margin-bottom: 48px !important;
      }
    }
  }
  .other-products-content {
    flex-direction: column;
    .other-products-content__title {
      text-align: center;
      margin-bottom: 36px;
      width: 80% !important;
    }
    .other-products-content__list {
      grid-template-columns: 1fr !important;
      grid-template-rows: repeat(3, 1fr) !important;
      grid-gap: 36px !important;
    }
  }
  .community {
    .community-content {
      flex-direction: column !important;
      align-items: flex-start !important;
      .community-content__title {
        left: 0 !important;
        width: 50% !important;
        transform: rotate(0) !important;
        margin-bottom: 24px;
      }
      .community-content__networks {
        width: 100% !important;
      }
    }
  }
  .footer {
    height: auto !important;
    .footer-navigation {
      display: flex;
      flex-direction: column !important;
      align-items: start;
      .footer-navigation__logo {
        margin-bottom: 50px;
      }
      .footer-navigation__navbar {
        margin-bottom: 50px;
      }
      .footer-navigation__networks {
        grid-gap: 10px !important;
      }
    }
    .footer-description {
      display: flex;
      flex-direction: column !important;
      .footer-description__caption {
        position: relative !important;
      }
    }
  }
}
@media (max-width: 936px) and (min-width: 900px) {
  .principles-content__list {
    grid-template-columns: repeat(3, 256px) !important;
    grid-template-rows: repeat(2, 184px) !important;
  }
}
@media (max-width: 770px) {
  .history-content {
    .history-content__post {
      .history-content__post-description, .history-content__post-caption,
      .history-content__post-subdescription, .history-content__post-desc-caption, .history-content__post-desc-material {
        width: 100% !important;
      }
      .history-content__post-desc {
        flex-direction: column !important;
        align-items: flex-start !important;
        .history-content__post-desc-material {
          margin-top: 24px;
        }
      }
    }
    .post-1, .post-2 {
      .history-content__post-media {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(2, 216px) !important;
        .material-1, .material-3 {
          grid-row: span 1 !important;
        }
      }
    }
    .post-3 {
      img {
        display: none;
      }
      .history-content__post-media {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(2, 216px) !important;
        .material-3 {
          grid-column: span 2;
        }
      }
    }
  }
  .history-content__post-separator {
    width: 400px;
  }
  .history-content__post-timepoint {
    top: 4px !important;
  }
  .awards-content {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(4, 224px) !important;
    img {
      display: block !important;
    }
    .post-3{
      img {
        width: 60% !important;
      }
    }
    .post-4 {
      img {
        width: 40% !important;
      }
    }
  }
  .principles-content__desc-description {
    margin-top: 36px !important;
    margin-right: 0 !important;
    margin-bottom: 24px !important;
  }
  .goals-content__list {
    display: flex !important;
    flex-direction: column;
    .goals-content__list-item-title {
      width: 70% !important;
    }
    .goal-4 {
      img {
        bottom: -40px !important;
      }
    }
    .goal-5 {
      img {
        width: 200px;
        right: -30px !important;
      }
    }
  }
  .footer {
    height: auto !important;
    .footer-navigation {
      display: flex;
      flex-direction: column !important;
      align-items: start;
      .footer-navigation__logo {
        margin-bottom: 50px;
      }
      .footer-navigation__navbar {
        margin-bottom: 50px;
      }
      .footer-navigation__networks {
        grid-gap: 10px !important;
      }
    }
    .footer-description {
      display: flex;
      flex-direction: column !important;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      color: #E0E0E0;
      div:first-child {
        margin-bottom: 24px;
      }
    }
  }
}

@media (max-width: 700px) {
  .brand-content__logos {
    grid-template-columns: 238px !important;
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width: 600px) {
  .title-main {
    font-size: 48px;
  }
  .title-shadow {
    font-size: 48px;
    position: relative;
    bottom: 20px !important;
  }
  .header-content__car {
    height: 150px;
  }
  .description-content__title, .description-content__caption, .description-content__desc {
    width: 100% !important;
  }
  .history-content {
    .history-content__post-desc-material {
      height: 300px !important;
    }
    .post-1, .post-2 {
      .history-content__post-media {
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(4, 216px) !important;
      }
    }
    .post-3 {
      .history-content__post-media {
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(3, 216px) !important;
        .material-3 {
          grid-column: span 1 !important;
        }
      }
    }
  }
  .history-content__post-separator {
    width: 300px;
  }
  .principles-content__list {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(6, minmax(184px, 1fr)) !important;
  }
  .goals-content__list-item {
    padding-right: 20px;
    .goals-content__list-item-title {
      width: 100% !important;
    }
    img {
      display: none;
    }
  }
  .brand-content__info-title {
    .title-shadow {
      top: 25px !important;
    }
  }
  .community {
    .community-content {
      .community-content__networks {
        .community-content__networks-group {
          padding: 20px !important;
          height: 150px !important;
          .community-content__networks-group-row {
            position: relative;
            .community-content__networks-group-row-members {
              display: none;
            }
            .community-content__networks-group-row-btn {
              position: absolute;
              bottom: -10px;
              right: -10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 426px) {
  .title-main, .title-shadow {
    font-size: 36px !important;
  }
  .header-content__titles-maintitle {
    top: 20px !important;
    font-size: 48px !important;
  }
  .header-content__car {
    height: 120px;
  }
  .header-content__slider {
    bottom: 20px !important;
    .header-content__slider-item {
      width: 8px !important;
      height: 8px !important;
      margin-top: 8px !important;
    }
  }
  .description-overlay {
    top: -10px !important;
  }
  .description-content__title {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  .description-content__desc, .description-content__caption {
    font-size: 14px !important;
    line-height: 24px !important;
  }
  .history-content__post-year {
    font-size: 18px !important;
    span {
      font-size: 18px !important;
    }
  }
  .history-content__post-separator {
    width: 200px;
  }
  .history-content__post-timepoint {
    top: 2px !important;
  }
  .history-content {
    .history-content__post-description, .history-content__post-caption {
      font-size: 18px !important;
      line-height: 28px !important;
    }
    .history-content__post-desc-caption {
      font-size: 18px !important;
      line-height: 28px !important;
    }
    .history-content__post-subdescription {
      font-size: 14px !important;
      line-height: 20px !important;
    }
    .history-content__post-desc-material {
      height: 200px !important;
    }
  }
  .awards-content {
    img {
      display: none !important;
    }
  }
  .principles-content__desc-title {
    line-height: 40px !important;
    width: 60% !important;
  }
  .awards-content__post-gradient {
    width: 200px !important;
    height: 200px !important;
  }
  .goals-content__list-item {
    padding-left: 20px !important;
  }
  .goals-content__list-item-title {
    font-size: 14px !important;
    span {
      font-size: 14px !important;
    }
  }
  .brand-content {
    .brand-content__info {
      .brand-content__info-description {
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 360px) {
  .history-content__post-separator {
    width: 160px;
  }
  .awards-content__post {
    padding-left: 20px !important;
    padding-right: 20px;
    .awards-content__post-title {
      font-size: 18px !important;
      width: 100% !important;
    }
    .awards-content__post-caption-version {
      font-size: 14px !important;
      line-height: 24px !important;
      span {
        font-size: 14px !important;
      }
    }
  }
  .footer-navigation__networks {
    display: grid;
    grid-template-rows: repeat(2, 70px) !important;
    grid-template-columns: repeat(3, 70px) !important;
    grid-gap: 10px !important;
  }
}

@media (max-width: 310px) {
  .history-content__post-separator {
    width: 120px;
  }
  .title-shadow, .title-main {
    font-size: 24px !important;
  }
  .header-content__head {
    width: 280px !important;
  }
  .header-content__head-caption {
    margin-left: 18px !important;
  }
}

